body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8); /* semi-transparent */
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px; 
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  padding: 100px 20px;
  text-align: center;
}

main h1 {
  font-size: 48px; /* Large heading */
  margin-bottom: 20px;
}

main p {
  font-size: 24px; /* Larger paragraph */
}